@import url("https://fonts.googleapis.com/css2?family=Agdasima family=Inter:wght@300&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:wght@300&family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.d-flex {
  display: flex;
}

/* header */

.heading {
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.navbar {
  background-color: rgb(22, 7, 36);
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 5rem;
}

.div h1 {
  font-size: 2.5rem;
  cursor: pointer;
}

.checkBtn {
  display: none;
}

#check {
  display: none;
}

.checkBtn {
  cursor: pointer;
  font-size: 30px;
  float: right;
  color: #ed1e79;
  line-height: 80px;
}

.right ul {
  display: flex;
  list-style: none;
}

.list > li {
  margin-right: 15px;
}

.right ul li a {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
}

.right ul li a:hover {
  background-color: #fff;
  border-radius: 7px;
  color: rgb(22, 7, 36);
}

/* main content */

main {
  height: 900px;
}

/* cards section */

.container {
  padding: 20px;
}

.profile-card {
  background-color: #222222;
  margin-bottom: 20px;
  margin-left: 20px;
}

.profile-card > .img-responsive {
  max-width: 100%;
  height: auto;
}

.profile-info {
  color: #bdbdbd;
  padding: 25px;
  position: relative;
  margin-top: 15px;
}

.profile-info h2 {
  color: #e8e8e8;
  letter-spacing: 4px;
  padding-bottom: 12px;
}

.profile-info span {
  display: block;
  font-size: 12px;
  color: #4cb493;
  letter-spacing: 2px;
}

.profile-info a {
  color: #4cb493;
}

.profile-info i {
  padding: 15px 35px 0px 35px;
}

.profile-card:hover .profile-pic {
  transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
  opacity: 1;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 52%;
  right: 52%;
  bottom: 0;
  background: #ffffff;
  border-radius: 50%;
  height: 3px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.profile-card:hover .hvr-underline-from-center:before,
.profile-card:focus .hvr-underline-from-center:before,
.profile-card:active .hvr-underline-from-center:before {
  left: 0;
  right: 0;
  height: 1px;
  background: #cecece;
  border-radius: 0;
}

/* our mission */

/* Footer section */

.footer-section {
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 0;
  background-color: rgb(32, 30, 30);
}

.footer-section h2 {
  margin-bottom: 3rem;
  position: relative;
}

.footer-section h2::after {
  content: "";
  width: 4rem;
  height: 0.2rem;
  background: #e65b00;
  position: absolute;
  top: 2.5rem;
  left: 0;
}

.footer-section p {
  transition: all 0.2s linear;
  margin-bottom: 0.6em;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.footer-section p:hover {
  transition: all 0.2s linear;
  transform: translateX(4px);
}

.footer-section a:hover {
  color: #f46d13;
}

.footer-item {
  margin: 1rem;
}

.footer-item ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.footer-item li {
  margin-right: 1rem;
}

.social ul li {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.social ul li:hover {
  color: #e65b00;
  transform: scale(1.3);
  transition: all 0.2s linear;
}

@media screen and (max-width: 320px) {
  .footer-section {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 805px) {
  .list {
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 7, 36);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4rem;
    left: 100%;
    transition: all 1s;
  }

  .cards-flex {
    flex-direction: column;
  }

  #check {
    display: none;
  }

  .checkBtn {
    display: block;
  }

  #check:checked ~ ul {
    left: 0%;
  }
}
